@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	/* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
	@apply text-lg md:text-2xl;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.text-glow {
	transition: text-shadow 0.3s ease-out;
	text-shadow: 0 0 0px #fff, 0 0 0px #fff;
}

.text-glow:hover {
	//animation: glow 1s ease-out infinite alternate;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 10px #fff;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 40px #fff;
	}
}

.task-description li {
	margin-top: 16px;
	@apply list-disc list-inside;
}
